.dv-medal-icon{color:goldenrod}

.dv-medal-icon .medal {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  text-shadow: 1px 1px 2px #00000088;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: 4px solid transparent;
}
.dv-medal-icon .medal.medal-10 {
  width: 16px;
  height: 16px;
  font-size: 10px;
  border: 2px solid transparent;
}
.dv-medal-icon .medal.medal-16 {
  width: 16px;
  height: 16px;
  font-size: 10px;
  border: 2px solid transparent;
}

.dv-medal-icon .medal.medal-24 {
  width: 24px;
  height: 24px;
  font-size: 13px;
  border: 2px solid transparent;
}

/* Золотая медаль */
.dv-medal-icon .medal.gold {
  background: radial-gradient(circle at 30% 30%, #fff9c4, #d4af37);
  border-color: #d4af37;
}

/* Серебряная медаль */
.dv-medal-icon .medal.silver {
  background: radial-gradient(circle at 30% 30%, #eeeeee, #b0b0b0);
  border-color: #b0b0b0;
}

/* Бронзовая медаль */
.dv-medal-icon .medal.bronze {
  background: radial-gradient(circle at 30% 30%, #f5d7b2, #b87333);
  border-color: #b87333;
}

.dv-medal-icon .medal.none {
  background: unset;
}