.dv-normative-level-icon{color: brown}

.dv-normative-level-icon .normative-medal {
  position: relative;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  width: 32px;
  height: 32px;
  border-radius: 15%;
  color: white;
  text-align: center;
  line-height: 120%;
  vertical-align: middle;
  border-width: 0.2em;
  border-style: solid;
  z-index: 1;
  box-shadow: inset 0 0 0 #a7b2b8, 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: #edeff1;
  text-shadow: 2px 2px 0 #98a6ad;
  background: linear-gradient(to bottom right, #d1d7da 50%, #c3cbcf 50%);
}
.dv-normative-level-icon .normative-medal.size-1{
  width: 32px;
  height: 32px;
  font-size: 16px;
}
.dv-normative-level-icon .normative-medal.size-2{
  width: 42px;
  height: 42px;
  font-size: 22px;
}
.dv-normative-level-icon .normative-medal.size-3{
  width: 52px;
  height: 52px;
  font-size: 32px;
}
.dv-normative-level-icon .normative-medal.size-4{
  width: 62px;
  height: 62px;
  font-size: 36px;
}
.dv-normative-level-icon .normative-medal.size-5{
  width: 72px;
  height: 72px;
  font-size: 42px;
}
.dv-normative-level-icon .normative-medal.size-6{
  width: 82px;
  height: 82px;
  font-size: 52px;
}



/* GOLD style */
.dv-normative-level-icon .normative-medal.gold {
  box-shadow: inset 0 0 0 #b67d05, 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: #fadd40;
  text-shadow: 0 0 4px #9d6c04;
  background: linear-gradient(to bottom right, #f9ad0e 50%, #e89f06 50%);
}

/* SILVER style */
.dv-normative-level-icon .normative-medal.silver {
  box-shadow: inset 0 0 0 #a7b2b8, 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: #edeff1;
  text-shadow: 0 0 4px #98a6ad;
  background: linear-gradient(to bottom right, #d1d7da 50%, #c3cbcf 50%);
}

/* BRONZE style */
.dv-normative-level-icon .normative-medal.bronze {
  box-shadow: inset 0 0 0 #955405, 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-color: #f7bb23;
  text-shadow: 0 0 4px #7d4604;
  background: linear-gradient(to bottom right, #df7e08 50%, #c67007 50%);
}

/* Ribbon styles */
.dv-normative-level-icon .ribbon {
  content: "";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 6px 10px;
  width: 0;
  height: 20px;
  top: 50px;
}

.dv-normative-level-icon .ribbon.left {
  border-color: #FC402D #FC402D transparent #FC402D;
  left: 8px;
  transform: rotate(20deg) translateZ(-32px);
}

.dv-normative-level-icon .ribbon.right {
  left: 28px;
  border-color: #f31903 #f31903 transparent #f31903;
  transform: rotate(-20deg) translateZ(-48px);
}
